* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.bg-video {
    object-fit: cover;
    position: absolute;
    z-index: -1;

}

.bg-video__content {
    height: 98vh;
}


.login__form {
    height: 85vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 5px;
    background-color: black;
    color: cornflowerblue;
    border: 1px solid #3fa9ff;
}

.submit__btn {
    margin-top: 5px;
    outline: none;
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    border:none;
    font-size:1em;
    color: white;
    cursor: pointer;
    
    &:hover {
        background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
        background-color:#019ad2;
    }
    &:active {
        position:relative;
        top:1px;
    }
}